<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
	   http://www.springframework.org/schema/context
	   http://www.springframework.org/schema/context/spring-context-4.0.xsd
	   http://www.springframework.org/schema/aop
	   http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
	   http://www.springframework.org/schema/tx
       http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
	   http://www.springframework.org/schema/util
	   http://www.springframework.org/schema/util/spring-util-4.0.xsd">
    <!--加载数据库配置文件-->
    <context:property-placeholder location="classpath:dataSource.properties"/>
    <!--配置数据库连接池-->
    <bean id="druid" class="com.alibaba.druid.pool.DruidDataSource">
        <property name="driverClassName" value="${driver}"/>
        <property name="url" value="${url}"/>
        <property name="username" value="${user}"/>
        <property name="password" value="${password}"/>
    </bean>
    <!--创建sqlsessionfactory工厂-->
    <bean id="mybatis" class="org.mybatis.spring.SqlSessionFactoryBean">
        <!--加载配置文件-->
        <property name="configLocation" value="classpath:sqlMapConfig.xml"/>
        <!--配置连接池-->
        <property name="dataSource" ref="druid"/>
        <!--配置别名-->
        <property name="typeAliasesPackage" value="laojiu.entity"/>
    </bean>
    <!--mapper动态代理-->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="laojiu.dao"/>
    </bean>
</beans>
